.container {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  text-align: center;
}

.container .message {
  font-size: 34px;
  margin-top: 30%;
}

.finishCart {
  align-items: center;
  display: flex;
  margin: 10px 12px;
  width: 100%;
}

.finishCart button {
  background-color: white;
  border: 1px solid #9dc2ff;
  color: #2264d1;
  font-size: 24px;
  font-weight: 700;
  height: 52px;
  transition: all 0.9s;
  width: 300px;
}

.finishCart button:hover {
  cursor: pointer;
  filter: brightness(0.9);
}
