.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  text-align: center;
}

.container .productCart {
  height: 70vh;
  overflow: overlay;
  padding: 1.5rem;
  position: fixed;
  scroll-behavior: smooth;
  width: 60%;
}

.message {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

.message span {
  font-size: 32px;
}

.container .finishCart {
  align-items: center;
  background-color: #2264d1;
  bottom: 0;
  box-shadow: 1px 2px 8px #b4bbe2;
  display: flex;
  flex-flow: row wrap;
  height: 50px;
  justify-content: space-evenly;
  padding: 1.5rem;
  position: fixed;
  width: 100%;
}


.container .finishCart h2 {
  color: white;
  display: flex;
  font-size: 28px;
  font-weight: 400;
  gap: 10px;
}

.container .finishCart button {
  background-color: white;
  border: 1px solid #2264d1;
  border-radius: 10px;
  height: 40px;
  width: 10%;
}
