.form div {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: stretch;
  margin-bottom: 0.7rem;
  width: 100%;
}

.form label {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

.form input, select {
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  width: 100%;
}
