* {
  margin: 0;
  padding: 0;
}

.header {
  align-items: center;
  background-color: #2264d1;
  display: flex;
  justify-content: center;
  min-height: 4rem;
  position: fixed;
  width: 100%;
}

.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.header .container a {
  margin: 0 20px;
  position: relative;
  text-decoration: none;
}

.logo {
  align-items: center;
  color: white;
  display: flex;
  font-size: 36px;
  font-weight: 500;
  gap: 4px;
  height: 100%;
  justify-content: center;
  transition: filter 0.2s;
}

.header .container a:hover {
  filter: brightness(0.9);
}

.logo span {
  align-items: center;
  background: linear-gradient(90deg, #2979ff 0%, #4c589e 100%);
  border-radius: 6px;
  color: white;
  display: flex;
  font-size: 32px;
  font-weight: 700;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.header .container a .cart {
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-right: 16px;
}

.header .container a .quantity {
  align-items: center;
  background-color: red;
  border-radius: 50%;
  color: white;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  height: 24px;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
}
