.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.container h1 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
}

.container form label {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}

.container form label input {
  border-radius: 10px;
  height: 40px;
  outline: none;
  padding: 0 0.5rem;
  width: 100%;
}

.container form button {
  cursor: pointer;
  height: 50px;
  margin-top: 10px;
  width: 50%;
}
